listingWidth = 300px

body
   font-family: 'quicksand'
   box-sizing: border-box

.listing
   max-width: listingWidth
   height: 300px
   border: 1px solid grey
   padding: 20px;
   margin: 10px 0;

.image-house
   max-width: listingWidth
   max-height: 200px
   text-align: center
